body {
    margin: 5px auto;
    width: 90%;
    background-image: url("/Pruebas/Fotos/fondo.jpg");
    'Aquí va el fondo de la página'
}


h1 {
    font-size: 100px;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Sans-Serif';
    color: #750C41;
    text-align: center;
    line-height: 120px;
    'Este es el formato del TÍTULO DEL PROYECTO'
}


nav ul li {
    display: inline;
    background-color:#D41C62;
    border-radius:10px;
    display: inline-block;
    float: none;   
}
a {
    text-decoration: none;
    color: #FFFFFF;   
}
a:hover {
    text-decoration: underline;
    'Este es el formato de las pestañas'
}

h5 {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Helvetica', 'Sans-Serif';
}
'h5=h1 en el original. Se usa en los títulos de los cronistas en la hoja donde sale la lista de cronistas'

