---
layout: default
title: Acchu
data: palabra01
---
<article>

	
<header>
    <h2><a href="https://glosascroniquenses.github.io/Pruebas/autores/cronista01/#{{ page.title }}" style="color:#750C41;">Cronista01</a></h2>
</header>
	
<header>
    <h2><a href="https://glosascroniquenses.github.io/Pruebas/autores/cronista01/#{{ page.title | downcase }}" style="color:#750C41;">Cronista01</a></h2>
</header>


<div id="tables">
	<h2>{{ page.title }}</h2>
	
    <table>
          <thead>
            <tr>
              <th>Lengua</th>
              <th>Propuesta de pronunciación</th>
              <th>Bibliografía</th>
              <th>Notas</th>
            </tr>
          </thead>
      <tbody>
            <tr>
              <td>Puquina</td>
              <td>/ashú/</td>	
              <td>Diccionario de lengua quechua y aymara</td>	
              <td>Puede ver más información en el artículo sobre la diferenciación entre las lenguas indígenas del siglo XVI del área sudamericana del Perú.</td>	
            </tr>
      </tbody>
    </table>
</div>
	
{% if page.data %}
	
<div id="palabras2">
      {% assign rows = site.data[page.data] %}
	
      {% capture unique_word_string %}{% for row in rows %}{% capture current_word %}{{ row.Palabra }}{% endcapture %}{% if current_word == saved_word %}{% else %}{{ row.Palabra }},{% endif %}{% capture saved_word %}{{ current_word }}{% endcapture %}{% endfor %}{% endcapture %}
	    
      {% assign unique_word_array = unique_word_string % | split: ","%}
</div>

	
<div id="tables">
	{% for word in unique_word_array %}
	<section id="{{ word }}">	
	
    <table>
          <thead>
            <tr>
              <th>Lengua</th>
            </tr>
          </thead>
      <tbody>
          {% for row in rows %}
          {% if row.Palabra == word %}
            <tr>
              <td>{{ row.Lengua }}</td>	    
            </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>
	</section>

{% endfor %}

</div>
	
{% endif %}
    
</article>
