---
layout: default
---
<article>
  	
{% if page.data %}
<div id="palabras2">
	    
      {% assign rows = site.data[page.data] %}
      {% capture unique_word_string %}
	    {% for row in rows %}
	    	{% capture current_word %}{{ row.Palabra }}{% endcapture %}
	    		{% if current_word == saved_word %}{% else %}{{ row.Palabra }},
	    		{% endif %}
	    	{% capture saved_word %}{{ current_word }}{% endcapture %}
	    {% endfor %}
      {% endcapture %}
	    
      {% assign unique_word_array = unique_word_string % | split: ","}
	    
      <nav>
      {% for word in unique_word_array %}
      <a href="#{{ word }}">{{ word }}</a>
      </br>
      {% endfor %}
      </nav>
	
</div>
{% endif %}

	
</article>
